@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--bg: #F7F7F4;
}


html,body,#root{height:100%}
body{background:var(--bg);font-family:Inter,ui-sans-serif,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial}


/* small helper for map container when Leaflet loads */
.leaflet-container{border-radius:12px}